<div id="loginpage">
	<h1>PRINCIPLE LOG IN</h1>
	<div>
		<%= form_tag sessions_path do %>
			<div>
				<%= label_tag :username %><br>
				<%= text_field_tag :username %>
			</div>
			<div>
				<%= label_tag :password %><br>
				<%= password_field_tag :password %>
			</div>
			<div>
				<h3>
					<%= submit_tag "Log In" %>&nbsp;
					<%= link_to "Sign Up", signup_path %> |||
					<%= link_to 'view all principles', principles_path %>
				</h3>
			</div>
		<% end %>
	</div>
</div>
