<h1 align="center">CLASSROOM LIST</h1>
<table align="center">
	<thead>
		<tr>
			<th>Classroom</th>
			<th>standard</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @classrooms.each do |classroom| %>
			<tr>
				<td><%= classroom.C_Name %></td>
				<td><%= classroom.standard %></td>
				<td><%= link_to 'Show', school_classroom_path(@school, classroom) %></td>
				<td><%= link_to 'Edit', edit_school_classroom_path(@school, classroom) %></td>
				<td><%= link_to 'Destroy', school_classroom_path(@school, classroom), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table><br />
<h3 align="center">
	<%= link_to 'New Classroom', new_school_classroom_path(@school.id) %> |||
	<%= link_to "Back", school_path(@school) %>
</h3>
