<h1 align="center"> WELCOME TO <%= %> DASHBOARD OF CLASSROOM</h1>
<div class="row" >
	<div class="column" style="background-color:#aaa;">
	<table>
		<h2 align="center">Class Students</h2>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>standard</th>
			</tr>
		</thead>
		<tbody>
			<% @classstudents.each do |classstudent| %>
				<tr>
					<td><%= classstudent.name %></td>
					<td><%= classstudent.email %></td>
					<td><%= classstudent.standard %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>

	<div class="column" style="background-color:#ccc;">
		<table>
		<h2 align="center">Class Teachers</h2>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile_No</th>
				<th>qualification</th>
				<th>gender</th>
			</tr>
		</thead>
		<tbody>
			<% @classteachers.each do |classteacher| %>
				<tr>
					<td><%= classteacher.name %></td>
					<td><%= classteacher.email %></td>
					<td><%= classteacher.Mobile_No %></td>
					<td><%= classteacher.qualification %></td>
					<td><%= classteacher.gender %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>
<br><br><br>

<h3>
	<strong>C name:</strong>
	<%= @classroom.C_Name %>
</h3>

<h3>
	<strong>Wichstandard:</strong>
	<%= @classroom.wichstandard %>
</h3>

<h3>
	<strong>Limit of students: <%= @totalstudent %></strong>
</h3>

<h3>
	<strong>available students:</strong>
	<%= @classroom.students.count%>
</h3>

<h3>
	<strong>remaining students:</strong>
	<%= @totalstudent-@classroom.students.count %>
</h3>

<%= link_to 'Edit', edit_school_classroom_path(@school, @classroom) %> ||
<%= link_to 'Back', school_classrooms_path(@school) %></%> ||
<%= link_to "Download as CSV", school_classroom_path(@school, @classroom,:format => "csv") %>
