<h1 align="center"> Welcome to <%= @classroom.C_Name%> Classroom</h1><br /><br />
<h3>
	<strong>C name:</strong>
	<%= @classroom.C_Name %> ||
	<strong>standard:</strong>
	<%= @classroom.standard %> ||
	<strong>Limit of students: <%= @totalstudent %></strong> ||
	<strong>available students:</strong>
	<%= @classroom.students.count%>||
	<strong>remaining students:</strong>
	<%= @totalstudent-@classroom.students.count %> &emsp;
	<%= link_to "<button type='button'>Upgrade class</button>".html_safe, upgradeclass_school_classroom_path(@school, @classroom) %>
</h3>
<div class="row" >
	<div class="column" style="background-color:#aaa;">
		<table>
			<h2 align="center">Class Students</h2>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>standard</th>
				</tr>
			</thead>
			<tbody>
				<% @classstudents.each do |classstudent| %>
					<tr>
						<td><%= classstudent.name %></td>
						<td><%= classstudent.email %></td>
						<td><%= @classroom.standard %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="column" style="background-color:#ccc;">
		<table>
			<h2 align="center">Class Teachers</h2>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Mobile_No</th>
					<th>qualification</th>
					<th>gender</th>
				</tr>
			</thead>
			<tbody>
				<% @classteachers.each do |classteacher| %>
					<tr>
						<td><%= classteacher.name %></td>
						<td><%= classteacher.email %></td>
						<td><%= classteacher.Mobile_No %></td>
						<td><%= classteacher.qualification %></td>
						<td><%= classteacher.gender %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div><br /><br /><br />
<%= link_to 'Edit', edit_school_classroom_path(@school, @classroom) %> ||
<%= link_to 'Back', school_classrooms_path(@school) %></%> ||
<%= link_to "Download as CSV", school_classroom_path(@school, @classroom,:format => "csv") %>
