<%= form_with(model: [@school, student], local: true) do |form| %>
	<% if student.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
			<ul>
				<% student.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= form.label :name %>
		<%= form.text_field :name, required: true%>
	</div>

	<div class="field">
		<%= form.label :email %>
		<%= form.text_field :email, required: true %>
	</div>

	<div class="field">
		<%= form.label :standard %>
		<%= form.number_field :standard, required: true, within: 1..12 %>
	</div>

	<div class="field">
		<%= form.label :classroom_id %>
		<%= form.collection_select :classroom_id, @schoolclassrooms.order(:C_Name),:id, :C_Name, {:prompt => "--select classroom--"}, required: true %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
