<h1 align="center">Students</h1>
<table align="center">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Standard</th>
			<th>ClassRoom</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
			<tr>
				<td><%= student.name %></td>
				<td><%= student.email %></td>
				<td><%= student.classroom.standard %></td>
				<td><%= student.classroom.C_Name%></td>
				<td><%= link_to 'Show',school_student_path(@school, student)%></td>
				<td><%= link_to 'Edit', edit_school_student_path(@school ,student) %></td>
				<td><%= link_to 'Destroy', school_student_path(@school, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table><br />
<% if @schoolclass.count == 0%>
	<h1 align="center">please first create classoom <br /><br />
		<%= link_to "Back", school_path(@school) %>
	</h1>
<% else %>
	<h2 align="center">
		<%= link_to 'New student', new_school_student_path(@school.id) %> |||
		<%= link_to "Back", school_path(@school) %>
	</h2>
<% end %>
