<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @student.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @student.email %>
</p>

<p>
	<strong>Standard:</strong>
	<%= @student.standard %>
</p>

<p>
	<strong>student classroom:</strong>
	<%= @studentclassroom.C_Name %>
</p>

<%= link_to 'Edit', edit_school_student_path(@school, @student) %> |
<%= link_to 'Back', school_students_path(@school) %>
