<p>
	<strong>Name:</strong>
	<%= @student.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @student.email %>
</p>

<p>
	<strong>Standard:</strong>
	<%= @student.classroom.standard %>
</p>

<p>
	<strong>No of teachers:</strong>
	<%= @student.classroom.teachers.count %>
</p>

<p>
	<strong>classroom:</strong>
	<%= link_to "#{@studentclassroom.C_Name}", school_classroom_path(@school, @student.classroom) %>
</p>

<h3>
	<%= link_to 'Edit', edit_school_student_path(@school, @student) %> ||
	<%= link_to 'Back', school_students_path(@school) %>
</h3>
<table align="center">
	<marquee scrollamount="15"><h2>Students activities</h2></marquee>
	<thead>
		<tr>
			<th>Date</th>
			<th>activity</th>
		</tr>
	</thead>
	<tbody>
		<% @stud_activities.each do |activity| %>
			<tr>
				<td><%= activity.created_at.strftime("%d %B %Y %R") %></td>
				<td><%= activity.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>
