<%= form_with(model: school, local: true) do |form| %>
	<div class="field">
		<%= form.label :name %>
		<%= form.text_field :name, required: true%>
	</div>

	<div class="field">
		<%= form.label :principle%>
		<%= form.text_field :principle, required: true %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
