<br><br>
<h1 align="center"> WELCOME TO <%= %> DASHBOARD OF SCHOOL</h1>
<div class="row">
	<div class="column" style="background-color:#aaa;">
	NO OF TEACHERS <br>
	<%= link_to "Teacher List", :controller => "teachers", :action => "index" %>
	</div>

	<div class="column" style="background-color:#bbb;">NO OF STUDENTS<br>
	<%= link_to "Student List", :controller => "students", :action => "index" %>
	</div>

	<div class="column" style="background-color:#ccc;">NO OF CLASS<br>
	<%= link_to "Class List", :controller => "teachers", :action => "index" %>
	</div>
</div>
<br>
<div class="princedetail">
	<h1>PRINCIPLE HISTORY</h1><br>
	<table align="center">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @principles.each do |principle| %>
      <tr>
        <td><%= principle.username %></td>
        <td><%= principle.email %></td>
        <td><%= principle.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
