<%= form_with(model: [@school, principle], local: true) do |form| %>
	<% if principle.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(principle.errors.count, "error") %> prohibited this principle from being saved:</h2>
			<ul>
				<% principle.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= form.label :username %>
		<%= form.text_field :username , required: true%>
	</div>

	<div class="field">
		<%= form.label :email %>
		<%= form.text_field :email, required: true %>
	</div>

	<div class="field">
		<%= form.label :password %>
		<%= form.password_field :password, required: true%>
	</div>

	<div class="field">
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation,required: true%>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
