<h1>Principles</h1>
<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>School Name</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @principles.each do |principle| %>
			<tr>
				<td><%= principle.username %></td>
				<td><%= principle.email %></td>
				<td><%= principle.school.name %></td>
				<td><%= link_to 'Show', principle %></td>
				<td><%= link_to 'Edit', edit_principle_path(principle) %></td>
				<td><%= link_to 'Destroy', principle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<h3>
	<%= link_to 'New Principle', new_principle_path %> |||
	<%= link_to 'Back to Home', root_path %>
</h3>