<p>
	<strong>Username:</strong>
	<%= @principle.username %>
</p>

<p>
	<strong>Email:</strong>
	<%= @principle.email %>
</p>

<p>
	<strong>School Name:</strong>
	<%= @principle.school.name %>
</p>

<%= link_to 'Edit', edit_principle_path(@principle) %> |
<%= link_to 'Back', principles_path %>
