<p>
	<strong>Name:</strong>
	<%= @teacher.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @teacher.email %>
</p>

<p>
	<strong>No of student:</strong>
	<%= %>
</p>

<p>
	<strong>Moible No:</strong>
	<%= @teacher.Mobile_No%>
</p>

<p>
	<strong>Qualification: </strong>
	<%= @teacher.qualification %>
</p>

<p>
	<strong>Gender:</strong>
	<%= @teacher.gender %>
</p>

<p>
	<strong>classroom:</strong>
	<%= link_to "#{@teacher.classroom.C_Name}", school_classroom_path(@school, @teacher.classroom) %>
</p>

<%= link_to 'Edit', edit_school_teacher_path(@school, @teacher) %>|||
<%= link_to 'Back', school_teachers_path(@school) %>
