<!DOCTYPE html>
<html>
	<head>
		<title>Scaffold</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div id="principle_header" align="right">
			<font size="5">
				<% if current_principle %>
					<%= puts current_principle.active_for_authentication?%>
						Logged in as <%= current_principle.username %>
					<%= link_to "Sign out", destroy_principle_session_path, data: {confirm: 'Are you sure?'}, method: :delete %>
				<% else %>
					<%= link_to "Login", new_principle_session_path %>
				<% end %>
			</font>
		</div>
		<font face="times, serif" size="20">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, class: "alert alert-#{key}") do %>
					<p><%= value %></p>
				<% end %>
			<% end %>
		</font>
		<%= yield %>
	</body>
</html>
